<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaix</title>
</head>
<body>
    <h1>hellow world</h1>
    <h2>this is python web pase</h2>
    <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda corrupti
         aperiam rerum excepturi nesciunt dolorem quisquam ducimus cumque, quam 
         deleniti quibusdam, tempore temporibus aspernatur velit voluptatum autem.
         Quaerat, iure dolores.</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nisi suscipit iure.
             Doloremque molestiae sapiente, amet optio in sunt iure nulla maiores eum ad odio
              cum modi asperiores
             possimus earum!</p>
</body>
</html>